{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <h2>{{ _('Welcome!') }}</h2>
        <p>{{ _('We are thrilled to have you join us for this special occasion. Here you will find all the information you need for the event.') }}</p>
        <img src="{{ url_for('static', filename='img/event_banner.jpg') }}" alt="{{ _('Event Banner') }}" class="banner-image">
        <p>{{ _('Explore the sections above to find answers to frequently asked questions and directions to the venue.') }}</p>
    </div>
{% endblock %}
