{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <h2>{{ _('Welcome!') }}</h2>
        <p>{{ _('We are thrilled to have you join us for this special occasion. Here you will find all the information you need for the event.') }}</p>
        <img src="{{ url_for('static', filename='img/event_banner.png') }}" alt="{{ _('Event Banner') }}" class="banner-image" style="width: 100%; height: auto;">
        <p>{{ _('Explore the sections above to find answers to frequently asked questions, directions to the venue and RVSP form.') }}</p>
    </div>
{% endblock %}
