<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Event Information') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Load the Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
        <header>
        <div class="container">
            <h1>{{ _('Lúcia & Zé´s Wedding') }}</h1>
            <nav>
                <button class="nav-toggle" id="nav-toggle">☰</button> <!-- Hamburguer menu - mobile friendly -->
                <ul id="nav-menu">
	                <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
	                <li><a href="{{ url_for('faq') }}">{{ _('FAQ') }}</a></li>
	                <li><a href="{{ url_for('map_page') }}">{{ _('Map & Location') }}</a></li>
                    <li><a href="{{ url_for('rvsp') }}">{{ _('Confirm attendance/RVSP') }}</a></li>
	                <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
	            </ul>
	        </nav>
            <div class="language-selector">
                <a href="{{ url_for('set_language', lang='en') }}"><img src="{{ url_for('static', filename='img/flag_gb.png') }}" alt="English"></a>
                <a href="{{ url_for('set_language', lang='pt') }}"><img src="{{ url_for('static', filename='img/flag_pt.png') }}" alt="Português"></a>
            </div>
        </div>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2026 {{ _('Lúcia e Zé - Event Organizers') }}. {{ _('All rights reserved.') }}</p>
        </div>
    </footer>
    <script>
        document.getElementById('nav-toggle').addEventListener('click', function() {
            document.getElementById('nav-menu').classList.toggle('open');
        });
    </script>
</body>
</html>
