{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <h2>{{ _('Map & Location') }}</h2>
        <p>{{ _('The event will be held at the following location. You can use the interactive map below for directions.') }}</p>
        
        <div class="map-container">
            <!-- 
              TODO: Replace this with your own Google Maps embed code.
              1. Go to Google Maps and find your location.
              2. Click "Share", then "Embed a map".
              3. Copy the HTML and paste it here.
            -->
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2635.429121272453!2d-122.41941548433156!3d37.77492957975823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085808c5b5a7c7f%3A0x4a501367f076adff!2sSan%20Francisco%20City%20Hall!5e0!3m2!1sen!2sus!4v1678886400000" 
                width="100%" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        
        <h3>{{ _('Address') }}</h3>
        <p>
            <strong>{{ _('Venue Name') }}</strong><br>
            123 Event Street<br>
            City, State, 12345
        </p>
    </div>
{% endblock %}
